<h1>Modifica <%= resource_name.to_s.humanize %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="img_user" align="center">
      <%= image_tag("img_" + @user.sesso, {:style => "width:100px; border-radius: 50%;"}) %>
    </div>
    <br>
    <%= form_for(resource, as: resource_name, url: '/users/' + resource.id.to_s,  html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :nuova_password %> <i>(lascia bianco se non vuoi cambiarla)</i><br />
        <% if @minimum_password_length %>
          <em>(minimo <%= @minimum_password_length %> caratteri)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :conferma_password %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <br>
      <div class="field">
        <%= f.label :password_corrente %> <i>(abbiamo bisogno della tua password corrente per confermare le modifiche)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Modifica", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <!-- <h3>Cancel my account</h3> -->
    <br><br><br>
    <p>Vuoi cancellare il tuo account? <%= button_to "Cancella il mio account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Indietro", :back %>
  </div>
</div>
