<% provide(:title, 'Eventi') %>

<h1>Eventi</h1>
<!-- <ul>
  <% @event_list.items.each do |event| %>
    <li><%= event.summary %> (<%= event.id %>)</li>
  <% end %>
</ul> -->

<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FRome&amp;src=cHJvZ2V0dG9hcmNoaXRldHR1cmVAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=aXQuaXRhbGlhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;mode=WEEK" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


<%= form_for("events", url: new_event_url) do |f| %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control", placeholder: 'start' %>
    <br>
    <%= f.label :start_time %>
    <%= f.time_field :start_time, class: "form-control", placeholder: 'start' %>
    <br>
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control", placeholder: 'end' %>
    <br>
    <%= f.label :end_time %>
    <%= f.time_field :end_time, class: "form-control", placeholder: 'start' %>
    <br>
    <%= f.label :summary %>
    <%= f.text_field :summary, class: "form-control", placeholder: 'Summary' %>
    <br>

    <%= submit_tag 'Add event' %>
<% end %>

<% if current_user.is_doctor %>
    <br><br><br>
    <h1> Delete an event </h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% if !@event_list.items.empty?%>
                <%= form_for("events", url: delete_event_url, html: { method: :post }) do |f| %>
                    <%= f.select "events", options_from_collection_for_select(@event_list.items, "id", "summary") %>
                    <%= submit_tag 'Delete event' %>
                <% end %>
            <% else %>
                <center><h5> There are no events to delete </h5></center>
            <% end %>
        </div>
    </div>
<% end %>
