<p id="notice"><%= notice %></p>

<% @visits_list.each do |visit| %>
      <tr>
        <strong>Tipo:</strong>
        <td><%= visit.tipo %></td>
        <strong>Inizio:</strong>
        <td><%= visit.ora_inizio %></td>
        <strong>Fine:</strong>
        <td><%= visit.ora_fine %></td>
        <strong>Paziente:</strong>
        <td><%= visit.paziente %></td>
        <strong>Descrizione:</strong>
        <td><%= visit.descrizione %></td>
  </tr>
  <br>
<% end %>