<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @visit.tipo %>
</p>

<p>
  <strong>Inizio:</strong>
  <%= @visit.inizio %>
</p>

<p>
  <strong>Fine:</strong>
  <%= @visit.fine %>
</p>

<p>
  <strong>Paziente:</strong>
  <%= @visit.paziente %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @visit.descrizione %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
