<% provide(:title, 'Sign up') %>

<div class="jumbotron2 text-center">
<h1>Sign up</h1>

<p>Per creare un nuovo account compila il seguente form.<br>Tutti i campi sono obbligatori.</p>

<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <%= form_for(@user, :url => {:action => "confirm"}) do |f| %>
        <!--<%= render 'shared/error_messages' %>-->

        <%= f.label :nome %>
        <%= f.text_field :nome, class: "form-control", placeholder: 'nome' %>
        <div class="errore">
            <%= errors_for @user, :nome %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :cognome %>
        <%= f.text_field :cognome, class: 'form-control', placeholder: 'cognome' %>
        <div class="errore">
        <%= errors_for @user, :cognome %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :codice_fiscale %>
        <%= f.text_field :codice_fiscale, class: 'form-control', placeholder: 'codice fiscale' %>
        <div class="errore">
        <%= errors_for @user, :codice_fiscale %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :sesso %><br>
        <table class='tableSex' align="center">
            <tr>
                <td><%= f.radio_button :sesso, 'M'%>
                <%= label :sesso_M, 'M' %></td>
                <td><%= f.radio_button :sesso, 'F' %>
                <%= label :sesso_f, 'F' %></td>
            </tr>
        </table>
        <div class="errore">
        <%= errors_for @user, :sesso %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :data_nascita, "Data di nascita" %>
        <%= f.date_field :data_nascita, class: 'form-control', :value => (f.object.data_nascita.strftime('%d/%m/%Y') if f.object.data_nascita), placeholder: 'dd/mm/yyyy' %>
        <div class="errore">
        <%= errors_for @user, :data_nascita %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :nazione_nascita, "Nazione di nascita" %>
        <select name="nazione">
            <option value=""></option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="AF">Afghanistan</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CV">Cape Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo (Democratic Republic)</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="TP">East Timor</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="FX">France (European Territory)</option>
            <option value="GF">French Guiana</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard and McDonald Islands</option>
            <option value="VA">Holy See (Vatican)</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="CI">Cote D&rsquo;Ivoire</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Laos</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macau</option>
            <option value="MK">Macedonia</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia</option>
            <option value="MD">Moldova</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="AN">Netherlands Antilles</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="KP">North Korea</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestinian Territory</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PF">Polynesia</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Reunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Federation</option>
            <option value="RW">Rwanda</option>
            <option value="GS">S. Georgia &amp; S. Sandwich Isls.</option>
            <option value="SH">Saint Helena</option>
            <option value="KN">Saint Kitts &amp; Nevis Anguilla</option>
            <option value="LC">Saint Lucia</option>
            <option value="PM">Saint Pierre and Miquelon</option>
            <option value="VC">Saint Vincent &amp; Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">Sao Tome and Principe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="KR">South Korea</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syrian Arab Republic</option>
            <option value="TW">Taiwan</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania</option>
            <option value="TH">Thailand</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="UY">Uruguay</option>
            <option value="UM">USA Minor Outlying Islands</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela</option>
            <option value="VN">Vietnam</option>
            <option value="VG">Virgin Islands (British)</option>
            <option value="VI">Virgin Islands (USA)</option>
            <option value="WF">Wallis and Futuna Islands</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZR">Zaire</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
        </select>

      
        <!--<%= f.select :nazione_nascita, CountryStateSelect.countries_collection,{prompt: '--Seleziona la nazione di nascita--'},{:class=> 'form-control'} %>
        <div class="errore">
        <%= errors_for @user, :nazione_nascita %><%if @user.errors.any?%><br><%end%>
        </div>-->
        <br>

        <%= f.label :regione, "Regione di nascita"%>
        <%= f.select :regione, CountryStateSelect.collect_states(f.object.nazione_nascita),{prompt: '--Seleziona la regione di nascita--'},{:class=> 'form-control'} %>
        <div class="errore">
        <%= errors_for @user, :regione %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :luogo_nascita, "Città di nascita" %>
        <%= f.select :luogo_nascita, CountryStateSelect.collect_cities(f.object.nazione_nascita, f.object.regione),{prompt: '--Seleziona la città di nascita--'},{:class=> 'form-control'}%>
        <div class="errore">
        <%= errors_for @user, :luogo_nascita %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :nazione_residenza, "Nazione di residenza" %>
        <%= f.select :nazione_residenza, CountryStateSelect.countries_collection,{prompt: '--Seleziona la nazione di residenza--'},{:class=> 'form-control'} %>
        <div class="errore">
        <%= errors_for @user, :nazione_residenza %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :regione_residenza, "Regione di residenza" %>
        <%= f.select :regione_residenza, CountryStateSelect.collect_states(f.object.nazione_residenza),{prompt: '--Seleziona la regione di residenza--'},{:class=> 'form-control'} %>
        <div class="errore">
        <%= errors_for @user, :regione_residenza %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :citta_residenza, "Città di residenza" %>
        <%= f.select :citta_residenza, CountryStateSelect.collect_cities(f.object.nazione_residenza, f.object.regione_residenza),{prompt: '--Seleziona la città di residenza--'},{:class=> 'form-control'} %>
        <div class="errore">
        <%= errors_for @user, :citta_residenza %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :indirizzo %>
        <%= f.text_field :indirizzo, class: 'form-control', placeholder: 'via/piazza roma 15' %>
        <div class="errore">
        <%= errors_for @user, :indirizzo %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'example@gmail.com'%>
        <div class="errore">
        <%= errors_for @user, :email %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :numero_telefono, "Numero di telefono" %>
        <%= f.text_field :numero_telefono, class: 'form-control', placeholder: '3333333333'%>
        <div class="errore">
        <%= errors_for @user, :numero_telefono %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <div class="errore">
        <%= errors_for @user, :password %><%if @user.errors.any?%><br><%end%>
        </div>
        <br>

        <%= f.label :password_confirmation, "Conferma password" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <div class="errore">
        <%= errors_for @user, :password_confirmation %><%if @user.errors.any?%><br><%end%>
        </div>

        <br>
        <%= f.submit "Crea account", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
</div>