<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <!-- <%= gravatar_for @user %> -->
        
        <%= image_tag("img_M") if @user.sesso == M %>
        <%= image_tag("img_F") if @user.sesso == F %>
        
        <%= @user.nome %>, <%= @user.cognome %>, <%= @user.codice_fiscale %>, <%= @user.sesso %>, 
        <%= @user.data_nascita %>, <%= @user.nazione_nascita %>, <%= @user.luogo_nascita %>, 
        <%= @user.nazione_residenza %>, <%= @user.citta_residenza %>, <%= @user.indirizzo %>, 
        <%= @user.email %>, <%= @user.numero_telefono %>
      </h1>
    </section>
  </aside>
</div>


