<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Home", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <!-- <li><%= link_to "Help",   help_path %></li> -->
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profilo", current_user %></li>
              <li><%= link_to "Impostazioni", edit_user_path(current_user) %></li>
              <li><%= link_to "Prenota visita", visits_path %></li>
              <% if current_user.is_doctor %>
                <li><%= link_to "Patients", list_user_path %></li>
              <% end %>

              <li class="divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>